<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" integrity="sha512-wnea99uKIC3TJF7v4eKk4Y+lMz2Mklv18+r4na2Gn1abDRPPOeef95xTzdwGD9e6zXJBteMIhZ1+68QC5byJZw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="flex h-screen py-20 justify-center bg-gradient-to-r from-pink-600 via-yellow-400 to  aign-center">
        <div class="flex text-center shadow-xl bg-white rounded-2xl px-6 py-10">
            <div>
                <div>
                    <h1 class="font-black text-4xl">Sign in</h1>
                    <h4>Already have an account? <a class="text-blue-500 underline" href="/register">Sign up</a></h4>
                </div>
                <form class="flex" action="/" method="post">
                    <div>  
                        <h1>{{info}}</h1>
                        <input type="text" autocomplete="off" class="bg-gray-100 w-full my-2 px-5 py-3 placeholder-gray-600 rounded-lg" name="username" placeholder="Username"><br>
                        <input type="password" autocomplete="off" class="bg-gray-100 w-full my-2 px-5 py-3 placeholder-gray-600 rounded-lg" name="password" placeholder="password"><br>
                        <button type="submit" class="bg-blue-500 my-2 rounded-lg py-4 text-white w-full">Sign up</button>
                        <h6 class="mt-1">I have read and agree to the 
                            <a class="text-blue-500 underline" href="#">Terms of Service</a>
                        </h6>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>